.logo-td {
    background-image: url("img/mokelinho.png");
    background-size: contain;  /* ajusta ao tamanho */
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 80px;
}
.titulo-td {
    font-size: 60px;
}


body {
    background-image:url(img/mokele-general-bg.png);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 1.1em;
    color: var(--cor-texto);
    padding-left: 65px;
}
input,
select,
textarea {
    border: 1px solid var(--cor-secundaria);
    border-radius: var(--radius);
    padding: 10px 14px;
    width: 80%;
    margin-bottom: 12px;
    font-size: 1em;
    background: #faf8f6;
    transition: border 0.2s;
}
td{
    background-color: #f3a853;
    
}
th{
    background-color: #f3a853
    
}
input[type="text"] {
    border-radius: 10px;
}
ul {
    list-style-type: none;/* Tira as bolinhas padrão */
    margin-left: -5.1%;/* Remove espaçamento */
    padding: 0px;/* Remove espaçamento */
    width: 105.1%;
    overflow: hidden;/* Evita que o conteúdo ultrapasse o tamanho da caixa */
    background-color: #f3a853;/* Define a cor de fundo */
}

li {
    float: left;
    /* Os itens vão ficar um do lado do outro, tipo menu horizontal */
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover,
.dropbtn:hover {
    background-color: rgba(68, 68, 68, 0.103);
}

li .dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3a853;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(255, 0, 191);
}

.dropdown:hover .dropdown-content {
    display: block;

}